Repository vigge93/PA1450-Development-task, pull requests merged in 2020-05, with the labels that each got.

#21 Specifications frontend
  Specifications/Frontend/Frontend User Stories
  Specifications/Frontend/Frontend-codespecs.md
  Specifications/Frontend/webpage_desing_example.png
Labels: Frontend, documentation

#20 Backend specification
  program/tests/test_init.py
  specifications/Backend specification.md
Labels: Backend, documentation

#22 API Specification created
  Specifications/API specification.md
Labels: API, documentation

#42 Fixes
  specifications/API specification.md
  specifications/Backend specification.md
  specifications/frontend/Frontend User Stories
  specifications/frontend/Frontend-codespecs.md
  specifications/frontend/webpage_design_example.png
Labels: documentation

#43 Webpage templates
  program/frontend.py
  program/static/script.js
  program/static/style.css
  program/templates/base.html
  program/templates/file_upload.html
  program/templates/index.html
Labels: Development task, Frontend

#44 Backend
  data.csv
  program/backend.py
  program/tests/test_backend.py
Labels: Backend, Development task

#47 Frontend
  program/frontend.py
  program/static/script.js
  program/static/style.css
  program/templates/base.html
  program/templates/file_upload.html
  program/templates/index.html
  program/tests/test_frontend.py
Labels: Development task, Frontend

#48 Fixes
  program/backend.py
  program/frontend.py
Labels: API, Backend, Frontend, bug

#50 More fixes
  program/backend.py
Labels: Backend, Development task, bug

#51 Even more fixes
  program/frontend.py
Labels: Development task, Frontend, bug

#52 Added documentation for end user and cleaned up config files
  .vscode/launch.json
  .vscode/settings.json
  GUIDELINES.md
  README.md
  program/backend.py
  requirements.txt
  setup.py
Labels: documentation

#53 Documentation user
  README.md
  program/static/style.css
Labels: Frontend, bug, documentation
